/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

/***************************
  Arcadia styles below
****************************/

/* header */

.h-70vh {
  height: 70vh;
}

.header-overlay::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(120deg, green, darkred);
  clip-path: ellipse(100% 70% at 19% 30%);
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header-overlay {
  position: relative;
  clip-path: ellipse(100% 70% at 50% 30%);
}

.header-overlay > * {
  z-index: 100;
}

/* images clippath*/

.right-image-clippath {
  background: lightgrey;
  clip-path: ellipse(60% 150% at 60% 100%);
}

.left-image-clippath {
  background: lightgrey;
  clip-path: ellipse(60% 150% at 40% 0%);
}
